.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: hidden; 
  position: relative;
}

.select-label {
  color: crimson; 
  font-size: x-large;
  font-family: fantasy;
  padding-right: 10px;
}


/* Add styling for the select-menu */
.select-menu select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid palevioletred;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  font-family: fantasy;
  color: crimson;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
}

.select-menu select::-ms-expand {
  display: none;
}


.select-menu select:hover,
.select-menu select:focus {
  border-color: crimson;
  outline: none;
}


.background {
  height: 100%;
  background-image: url('./backgroundImg.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.5; 
}


.dessert-info {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 85px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  
}

.dessert-info img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dessert-info h2 {
  color: #dd6248;;
  margin-top: 10px;
}

.dessert-info h4 {
  color: #555;
  margin-top: 30px;

}

.dessert-info ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.dessert-info li {
  margin-bottom: 5px;
}

.dessert-info button#likeBtn {
  background-color: #dd6248;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dessert-info button#likeBtn:hover {
  background-color: #e6008f;
}